<% content_for :title do %>Ql: Quick look as 2 bars.<% end %>
<div class="gridster">
    <ul>
        <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
            <div data-id="ql-top" data-period="Yesterday" data-view="Quickbar"></div>
        </li>
         <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
            <div data-id="ql-bottom" data-period="Last 7 days" data-view="Quickbar"></div>
        </li>
    </ul>
</div>