<% content_for :title do %>Quick Look<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="visitors" data-view="Meter" data-title="Visitors" ></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="sales" data-view="Meter" data-title="Sales" ></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="revenue" data-view="Meter" data-title="Revenue"  ></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="visitors1" data-view="Meter" data-title="Visitors"></div>
    </li>
    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="sales1" data-view="Meter" data-title="Sales"></div>
    </li>
     <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="revenue1" data-view="Meter" data-title="Revenue" ></div>
    </li>
  </ul>
</div>