<% content_for :title do %>Tays Dash<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="water_drank" data-view="Meter" data-title="Water Drank" data-height="200" data-width="200" data-min="0" data-max="100" data-suffix="%" ></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="pull_ups" data-view="Meter" data-title="Pull Ups" data-height="200" data-width="200" data-min="0" data-max="100" data-suffix="%"></div>
    </li>
    <li data-row="3" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="squats" data-view="Meter" data-title="Squats" data-height="200" data-width="200" data-min="0" data-max="100" data-suffix="%" ></div>
    </li>
    <li data-row="4" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="hip_flexor_stretch" data-view="Meter" data-title="Hip Flexor Stretch" data-height="200" data-width="200" data-min="0" data-max="100"  data-suffix="%"></div>
    </li>
    <li data-row="5" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="push_ups" data-view="Meter" data-title="Push Ups" data-height="200" data-width="200" data-min="0" data-max="100"  data-suffix="%"></div>
    </li>
     <li data-row="6" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="words_written" data-view="Meter" data-title="Words Written" data-height="200" data-width="200" data-min="0" data-max="100" data-suffix="%"></div>
    </li>
  </ul>
</div>