<% content_for :title do %>Tays Dash<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="water_drank" data-view="Number" data-title="Water Drank"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="pull_ups" data-view="Number" data-title="Pull Ups"></div>
    </li>
    <li data-row="3" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="squats" data-view="Number" data-title="Squats"></div>
    </li>
    <li data-row="4" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="hip_flexor_stretch" data-view="Number" data-title="Hip Flexor Stretch"></div>
    </li>
    <li data-row="5" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="push_ups" data-view="Number" data-title="Push Ups"></div>
    </li>
     <li data-row="6" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="words_written" data-view="Number" data-title="Words Written"></div>
    </li>
  </ul>
</div>