// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #0083c9;
$value-color:       #fff;

$title-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-quickbar styles
// ----------------------------------------------------------------------------
.widget-quickbar {

  background-color: $background-color;
 

  .wrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    .qlcolumn {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 25%;
        font-size: 25px;
        color: $value-color;
        //background-color:  #73e600;
        .qlrow{
           // border: 1px dashed $value-color;
            width: 100%;
            height: 20%;
            //background-color:  #bfff00;
            font-size: 25px;
            color: $value-color;
        }
        .info{
            width: 100%;
            height: 20%;
            //background-color:  #ace600;
            font-size: 25px;
            color: $value-color;
            padding-top: 20px;
        }
        .title{
            width: 100%;
            height: 20%;
            // background-color:   #ffff1a;
            font-size: 40px;
            font-weight: bolder;
            color: $value-color;
        }
        .value{
            width: 100%;
            height: 20%;
            // background-color:   #ffa64d;
            font-size: 44px;
            font-weight: bolder;
            color: $value-color;
        }
       
        .persent{
            width: 100%;
            height: 20%;
            background-color:    #09354d;
            font-size: 40px;
            font-weight: bolder;
            color: $value-color;
        }
        .day{
          width: 100%;
          height: 20%;
          //background-color:    #a3a375;
          font-size: 44px;
          font-weight: bolder;
          color: $value-color;
      }
    }
  }

  

  .title {
    color: $title-color;
  }

  .value {
    color: $value-color;
  }

  .change-rate {
    font-weight: 500;
    font-size: 30px;
    color: $value-color;
  }

  .more-info {
    color: $moreinfo-color;
  }

  .updated-at {
    color: rgba(0, 0, 0, 0.3);
  }

}
